* {
  font-size: 12px;
  margin: 0;
  padding: 0;
  font-family: futura, sans-serif;
  font-weight: normal;
  font-size: 12px;
}

main {
  padding: 1em 0;
  background-color: rgb(80,120,180);
  background-image: url("png/seaweed.png");
  background-repeat: no-repeat;
  background-size: 8em;
  background-position: bottom 0 right 0;
}

header {
  background-color: rgb(210,230,250);
  padding: 3em;
  height: 16em;
}

section {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 5%;
  z-index: 1;
}

h1 {
  color: white;
  font-size: 6em;
}

p {
  line-height: 1.5em;
  font-size: 1.5em;
  color: rgb(130,140,255);
  padding-left: 2em;
}

h2 {
  text-decoration: none;
  font-size: 3em;
  padding: 1.5em 1em;
  color: white;
  background-color: rgb(255, 220, 0);
  border-radius: 3em;
  position: absolute;
  top: 1em;

}

footer {
  height: 200px;
  background-color: tan;
  z-index: 1;
}

div {
  width: 17em;
  z-index: 1;
  margin-bottom: .2em;
}

img {
  width: 100%;
}
